{
  "keyfile": "keyfile.json",
  "scopes": "https:\/\/www.googleapis.com\/auth\/calendar"
  "domains": {
    "bar.com": {
      "account": "user@bar.com"
    },
    "foo.com": {
      "account": "user@foo.com"
    }
  },
  "calendars": {
    "room_1": {
      "calendars": [
        {
          "url": "foo.com_12345@resource.calendar.google.com",
          "domain": "foo.com"
        },
        {
          "url": "bar.com_12345@resource.calendar.google.com",
          "domain": "bar.com"
        }
      ]
    }
  },
}